[submodule "wmn"]
	path = wmn
	url = https://github.com/mukherjeearnab/domestic-waste-man-network/
[submodule "ian"]
	path = ian
	url = https://github.com/mukherjeearnab/identity-auth-network
[submodule "lran"]
	path = lran
	url = https://github.com/mukherjeearnab/land-registry-auth-network
[submodule "hcn"]
	path = hcn
	url = https://github.com/mukherjeearnab/patient-emergency-detection
[submodule "lean"]
	path = lean
	url = https://github.com/mukherjeearnab/policing-network
	branch = icn
[submodule "vtan"]
	path = vtan
	url = https://github.com/mukherjeearnab/vehicle-platform-blockchain/
	branch = icn
